<html>
    <head>
        <title>Tic Tac Toe</title>
        <h1>Tic Tac Toe</h1>
        <link href="./assets/css/game.css" rel="stylesheet" />
    </head>
    <body>
        <div class="game-container">
            <div class="turn-details">
                <span id="turn-of"></span>'s turn
            </div>
            <div class="board">
                <div class="cell" id="r1c1"></div>
                <div class="cell" id="r1c2"></div>
                <div class="cell" id="r1c3"></div>
                <div class="cell" id="r2c1"></div>
                <div class="cell" id="r2c2"></div>
                <div class="cell" id="r2c3"></div>
                <div class="cell" id="r3c1"></div>
                <div class="cell" id="r3c2"></div>
                <div class="cell" id="r3c3"></div>
            </div>

            <div class="message-container" id="message-container">
                <span id="message" class="message"></span>
            </div>
        </div>
    </body>

    <script src="./assets/js/game.js"></script>
</html>