<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="./assets/css/example.css" rel="stylesheet" />
    <link rel="stylesheet" href="./assets/css/todo.css">
</head>

<body>

        <div class="fixed-header">
                <div class="container">
            <nav>
                <a href="/">Home</a>
                <a href="/chat">Chat</a>
                <a href="/game">Game</a>
                <a href="/editor">Code Editor</a>
                <a href="/whiteboard">Whiteboard</a>
                <a href="/todo">ToDo List</a>
            </nav>
                </div>
            </div>

    <div class="todolist">
        <h1>Todolist Live</h1>
        <ul id="task-list">
        </ul>
        <hr>
        <label for="add-task">Que dois-je faire ?</label>
        <input type="text" id="add-task" placeholder="Press 'enter' to validate" autofocus>
    </div>

    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="./assets/js/todo.js"></script>

</body>

</html>