<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home</title>

    <link rel="shortcut icon" type="image/png" href="./assets/images/favicon.ico" />

    <script>
        const ROOM_ID = "<%= roomId %>"
    </script>

    <script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="./assets/js/chat.js" defer></script>

    <link href="./assets/css/styles.css" rel="stylesheet" />

    <style>
        #video-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, 300px);
            grid-auto-rows: 300px;
        }
        
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>

</head>

<body>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/chat">Chat</a></li>
        <li><a href="/game">Game</a></li>
        <li><a href="/editor">Cde Editor</a></li>
        <li><a href="/whiteboard">Whiteboard</a></li>
        <li><a href="/todo">ToDo List</a></li>
    </ul>

    <div id='neptuno-chat'>
        <h2>Neptuno Chat</h2>
        <div id='chat-window'>
            <div id='output'></div>
            <div id='feedback'></div>
        </div>
        <input id='handle' type='text' placeholder='Handle' />
        <input id='message' type='text' placeholder='Message' />
        <button id='send'>Send</button>
    </div>

    <div id="video-grid"></div>

</body>

</html>