<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Neptuno TodoList</title>

    <link rel="shortcut icon" type="image/png" href="./assets/images/favicon.ico" />

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./assets/css/todo.css">
    <link href="./assets/css/game.css" rel="stylesheet" />
</head>

<body>

    <div class="fixed-header">
        <div class="container">
    <nav>
        <a href="/">Home</a>
        <a href="/chat">Chat</a>
        <a href="/game">Game</a>
        <a href="/editor">Code Editor</a>
        <a href="/whiteboard">Whiteboard</a>
        <a href="/todo">ToDo List</a>
    </nav>
        </div>
    </div>

    <h1>Multiple Users - Todolist</h1>

    <section>
        <form action="/todo" method="post" id="task-form">
            <br>
            <h2 id="addTask"><label for="new-task">Add a task</label></h2>
            <div>
                <input type="text" name="new-task" id="new-task" maxlength="150">
                <button type="submit" name="submit" id="addBtn"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add</button>
            </div>
        </form>
    </section>

    <br>
    <main>
        <section id="todoS">
            <h2 id="todoTitle">To do</h2>
            <div id="todo">
            </div>
        </section>
        <section id="doneS">
            <h2 id="doneTitle" style="color:floralwhite">Done</h2>
            <div id="done">
            </div>
        </section>
    </main>

    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="./assets/js/todo.js"></script>

</body>

</html>