html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    
    background-color: #9b7dbe;
    font-family: 'Nirmala UI', sans-serif;
    line-height: 1.5;
}

.todolist {
    min-width: 350px;
    max-width: 450px;
    margin: auto;
    padding: 2rem 2rem 1.5rem;
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(50, 50, 50, 0.5)
}

.todolist>h1 {
    margin: 0 0 1.5rem;
    text-align: center;
}

.todolist>ul {
    margin: 0;
    padding: 0;
}

.todolist>ul>li {
    display: flex;
    position: relative;
    margin-bottom: .8rem;
}

.todolist>ul>li:last-child {
    margin-bottom: 1.5rem;
}

.todolist>ul>li::before {
    content: 'â—';
}

.todolist>ul>li>.list-text {
    padding: 0 8px;
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
}

.todolist>ul>li>a {
    text-align: right;
    align-self: center;
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    transition: color .15s ease, transform .15s ease;
    cursor: pointer;
}

.todolist>ul>li>a:hover {
    color: #b80000;
    transform: scale(1.2);
}

.todolist>hr {
    width: 60%;
    height: 1px;
    margin: 0 auto 1rem;
    background-color: #838383;
    border: none;
}

.todolist>label {
    display: block;
    font-weight: bold;
    color: #838383;
    text-align: center;
    margin: 0 auto .5rem;
    font-size: .8rem;
}

.todolist>input {
    display: block;
    padding: .3rem;
    width: 90%;
    margin: 0 auto .5rem;
}

@media only screen and (max-width: 350px) {
    html {
        font-size: .85em;
    }
    .todolist {
        min-width: 95vw;
        max-width: 95vw;
    }
}